<!DOCTYPE html>
<html >
  <head>
    <title>Virgyy app</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

  </head>
  <body >

    <%= render 'shared/navigation' %>
    <div class="bs-docs-header" >
        <h1 ALIGN=center ><font color="gray">Lista de deberes</font></h1>

        <div id="carbonads-container" ><div class="carbonad" ><div id="azcarbon" ></div><script>var z = document.createElement("script"); z.async = true; z.src = "http://engine.carbonads.com/z/32341/azcarbon_2_1_0_HORIZ"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(z, s);</script></div></div>

      </div>
      </div>

    <div id="main-container" class="container" >
      <div class="row">
        <div class="col-lg-12">
          <% flash.each do |name, msg| -%>
            <%= content_tag :div, msg, class: "alert alert-#{name}" %>
          <% end -%>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" ALIGN=center>
          <%= yield %>
        </div>
      </div>
    </div>

      
  </body>
</html>
